.icon-fix{
    position:relative;
    top: -2px;
}

.sidebar{
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
}

.list-group-item:hover{
    background-color: #1a1a1a !important;
    color: yellow !important;
}
#page-content-wrapper.with-sidebar {
    margin-left: 250px;    
    transition: margin-left 0.3s ease;
}

#page-content-wrapper.full-width {
    margin-left: 0px;  
    transition: margin-left 0.3s ease;
    
}