.card-hover {
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    cursor: pointer;
}
.card-hover:hover {
    transform: scale(1.0001);
    box-shadow: 0 8px 20px 
    rgba(0, 0, 0, 0.3);
}
.card-hover:hover i{
    filter: drop-shadow(0 0px 5px #fff);
}

.card-title{
    position: relative;
    display: inline-block;
}

.card-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: #ff4d4d;
    transition: width 0.3s ease;


}

.card-hover:hover .card-title::after {
    width: 100%;    
}