<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset = "utf-8">
    <meta name ="viewport" content ="width=device-width, initial-scale=1.0">
    <title>Invoice #{{order_number}}</title>
    <style>
        body{font-family : Arial,sans-serif; padding : 20px}
        table{width : 100%; border-collapse : collapse }
        th,td{border : 1px solid; padding : 10px; text-align : center;}

    </style>
</head>
<body>
<h2>Invoice for Order #{{order_number}}
</h2>
<p><strong>Date: </strong> {{ address.order_time|date:"H:i:s d/m/Y" }}</p>
<p><strong>Address: </strong> {{address.address}}
    <hr>

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Food Item</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>

            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td> {{forloop.counter}}</td>
                <td> {{order.food.item_name}}</td>
                <td> {{order.food.item_price}}</td>
                <td> {{order.quantity}}</td>
                <td> {{order.total_price}}</td>
            </tr>

            {%endfor%}
        </tbody>
        <tbody>
            <th colspan ="4" style ="text-align : right"> Grand Total</th>
            <th  style ="text-align : center">{{grand_total}} VND</th>
        </tbody>
    </table>
    <div  style ="text-align : right">
        <button onclick ="window.print()"> Print Invoice</button>
    </div>
</body>
</html>
